.container{
    width: 100vw;
    height: 100vh;
    background-color: #0a0a0a;
    row-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.active{
    background-color: green;
}
.disable{
    background-color: red;
}
#form,#decrypt-form{
    display: flex;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border: 1px solid white;
    padding: 10px;
}
#msg-box{
    box-sizing: border-box;
    height: 100px;
    overflow-x: hidden;
}
label{
    font-size: 20px;
    font-weight: 600;
}
input,textarea{
      overflow-x: hidden;
    height: 40px;
    width: 30pc;
    border-radius: 12px;
    border: 1px solid white;
    font-size: 20px;
    padding-left: 10px;
    color: black;
    outline: none;
}
button{
    height: 45px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    width: fit-content;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}